//fonts
$base-font: 16px;
$section-title-font: 2.5rem;
$section-text-font: 1rem;
$base-line-height: 1.8em;

//letter-spacing
$small-spacing:1px;
$bigger-spacing:2px;


//Colors
$white: #fff;
$black: #000;
$darker-light-blue: #2ea3f2;
$light-blue: #1FB6EA;
$blue-purple: #3644AF;
$light-blue-purple: #404EB3;
$grey: #333;

//width
$full-width:100%;

//text case
$big-text: uppercase;

//cursor type
$pointer : pointer;

//border radius
$border-radius: 5px;