.user_info {
    padding:10px;
    @include row-flex;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 $full-width);
    >p {
        margin:0 10px;
        font-size:$section-text-font;
        color:$black;
        letter-spacing: $small-spacing;
        >span {
            font-weight: 500;
            letter-spacing: 0;
        }
    }
    .profile-settings {
        text-decoration: none;
        margin:0 10px 0 5px;
        letter-spacing: $small-spacing;
        color:$white;
        &:hover {
            cursor:$pointer;
            border-bottom:1px solid $white;
        }
    }
    >form {
        padding:0;
        margin-left:30px;
        .button {
            align-self: center;
            padding:10px 15px;
            font-size: $section-text-font;
            margin-bottom: 0;
            &:hover {
                background-color:rgb(182, 47, 47);
            }
        }
    }

}