#forum_in {
    .forum_name_look {
        background-color:#B895E2;
        padding:20px;
        .container {
            @include column-flex;
            >h1 {
                color:$black;
                letter-spacing: $bigger-spacing;
            }
            >h3 {
                color:$black;
                letter-spacing: $small-spacing;
            }
            .a-link {
                a {
                    text-decoration: none;
                    color:$white;
                    &:hover{
                        cursor: $pointer;
                        color:$black;
                    }
                };
            }
            .t-maker-link {
                a {
                    text-decoration: none;
                    color:$black;
                    &:hover {
                        color:$white;
                        cursor:$pointer;
                    }
                }
            }
        }
    }
    .forum_thread_look {
        background-color: #BFE295;
        padding:20px;
        min-height:545px;
        .threads {
            @include column-flex;
            border-left: 5px $black solid;
            border-right: 5px $black solid;;
            max-width: 980px;
            >.thread_pagin {
                ul {
                    display:flex;
                    @include row-flex;
                    li {
                        list-style:none;
                        a {
                            font-size:1.1rem;
                            text-decoration: none;
                            color:$black;
                            padding:4px;
                            &:hover {
                                background-color:#B895E2;
                                color:$white;
                                border-radius: $border-radius;
                            }
                        }
                        span {
                            font-size: 1.2rem;
                            padding:4px;
                        }
                        margin-left:5px;
                    }
                }
            }
            >.thread_title_box {
                margin:20px 0;
                padding:10px;
                width:320px;
                background-color:$white;
                border: 2px $black solid;
                @include column-flex;
                .a-d-t {
                    @include column-flex;
                    >div {
                        @include row-flex;
                        margin:5px 0;
                        .fa-lock {
                            color:rgb(204, 36, 36);
                            &:hover {
                                color:#DE4545;
                            }
                        }
                        .fa-lock-open {
                            color:#2478CC;
                            &:hover {
                                color:#24CCCC;
                            }
                        }
                    }
                    i {
                        &:hover {
                            cursor: $pointer;
                            color:red;
                        }
                    }
                    p {
                        margin:0;
                    }
                }
                .thread_title_user {
                    font-weight: 400;
                    font-size: 1.2rem;
                    margin-top:20px;
                    >:nth-child(2) {
                        color:$black;
                        text-decoration: none;
                        &:hover {
                            cursor:$pointer;
                            color:$darker-light-blue;
                        }
                    }
                    >:nth-child(1) {
                        font-weight: 800;
                    }
                }
                .thread_posted_by {
                    margin:0;
                    >span {
                        font-weight: 600;
                    }
                }
                >:nth-child(3) {
                    >span {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}