#forum {
    .forum-hero {
        background-image: 
            url(https://user-images.githubusercontent.com/82368117/133047246-5df938ea-e8e6-403a-b64f-b9f301bd61d4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        .container {
            padding-top:350px;
            @include column-flex;
            >p {
                letter-spacing: $small-spacing;
                font-size:$section-text-font;
                >a {
                    color:$light-blue;
                    font-weight: 600;
                    text-decoration: none;
                    
                    &:hover {
                        color:$blue-purple;
                        cursor:$pointer;
                    }
                }
            }
            .logged_in_or {
                @include section-text($fs: 1.5rem);
                font-weight: 500;
            }
            .logged_in_forum {
                background-color:$white;
                padding:30px;
                width: 320px;
                text-align: center;
                &:hover {
                    color:$darker-light-blue;
                }
            }
            .loged_user {
                margin:0;
                background-color: $white;
                width: 320px;
                padding:20px;
                font-weight:600;
                letter-spacing: $small-spacing;
                font-size: $section-text-font;
                text-align: center;
            }
            .log_out_form {
                width: 320px;
                padding:20px;
                border-radius:0;
                display:flex;
                flex-direction:column;
                align-items:center;
                .button {
                    align-self:center;
                    background-color: rgb(182, 47, 47);
                    padding:10px 15px;
                }
            }
            form {
                background-color: $white;
                padding:50px 80px;
                border-radius: $border-radius;
                @include column-flex;
                >div {
                    @include column-flex;
                    margin:30px 0;
                    input {
                        padding:10px;
                        color:$white;
                        background-color:$grey;
                        border:none;
                        &:focus {
                            outline: none;
                        }
                        &::placeholder {
                            color:$white;
                        }
                    }
                    p {
                        letter-spacing: $small-spacing;
                        font-size: $section-text-font;
                        margin:0 0 5px 0;
                    }
                }
                .button {
                    background-color:$light-blue;
                    color:$white;
                    &:hover {
                        background-color:$blue-purple;
                    }
                    margin: 10px 0;
                }
            }
        }
    }
}
